/* some style */
/* Slideshow container */
.slideshow-container {
  position: relative;
  /*background: #f1f1f1f1;*/
  background-image: url("backgrounds/linedpaper.png");
}
/* Slides */
.slide {
    padding: 80px;
    position: center;
    font-size: 27px;
    margin-top: -200px;
    margin-right: 100px;
    margin-bottom: 200px;
    margin-left: -200px;
    font-family: Courier, monospace;
    /*background-color: #EBEBEB;*/
}

.title {
    padding: 50px;
    position: center;
    font-size: 30px;
    /*font-family: Jazz LET, fantasy ;*/
    /*font-family: Comic Sans MS, Comic Sans, cursive;*/
    /*font-family: Andale Mono, monospace	;*/
    font-family: Courier, monospace;
    margin-left: 200px;
    margin-top: -80px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.slide-container {
    padding: 70px;
    position: center;
    margin-left: 200px;
    margin-bottom: 100px;
    /*background-color: #EBEBEB;*/
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  /*background: #DEB887;*/
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: rgb(50,50,50);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}


/* Add a blue color to the author */
.author {color: cornflowerblue;}

.editor {
    padding: 80px;
    position: center;
    font-size: 27px;
    margin-top: -200px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: -200px;
}

.repl {
    background: url("backgrounds/linedpaper.png") center center no-repeat; /* This ruins default border */
    margin-top: 100px;
    margin-right: 100px;
    position: center;
    margin-left: 200px;
    margin-bottom: 100px;
}



textarea {
    background: url("backgrounds/linedpaper.png") center center no-repeat; /* This ruins default border */
    border: 2px solid #888;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 25px;
    margin-top: -10px;
}

table {
    border-collapse: separate;
    border-spacing: 200px 0;
    position: center;
    margin-left: -200px;
}

td {
    padding: 27px 0px ;
}



/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+clojure */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #9a6e3a;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function,
.token.class-name {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
color: #e90;
}

.token.important,
.token.bold {
font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
	cursor: help;



}
